<div class="container">
    <form #formAvaliacao="ngForm" autocomplete="off">
  
      <div class="ui-g">
        <div class="ui-g-3"></div>

        <div class="ui-g-6">

            <div class="ui-g-12 ui-md-12">
                <h1 class="pi pi-save">Lançar notas</h1>
              </div>

            <div class="ui-g-12 ui-fluid">
            <label>Valor da Nota</label>
            <input pInputText type="number" name="nota"
                [(ngModel)]="avaliacao.nota" #nota="ngModel" required>
    
            <app-message [control]="nota" error="required"
                text="Informe a nota"></app-message>
    
            </div>
    
            <div class="ui-g-12 ui-fluid">
            <label>Data</label>
                <p-calendar [showIcon]="true" name="data" dateFormat="dd/mm/yy"
                [readonlyInput]="false" [(ngModel)]="avaliacao.data" #data="ngModel" required></p-calendar>
    
                <app-message [control]="data" error="required"
                text="Informe a data"></app-message>
            </div>
    
            <div class="ui-g-12 ui-fluid">
            <label>Disciplinas</label>
                <p-dropdown [options]="disciplina" [(ngModel)]="avaliacao.disciplina" placeholder="Selecione a Disciplina" 
                 name="disciplinas" #disciplinas="ngModel" required (click)="carregarAlunos(avaliacao.disciplina.id)"></p-dropdown>

                <app-message [control]="disciplinas" error="required"
                text="Informe a Disciplina"></app-message>
            </div>

            <div class="ui-g-12 ui-fluid">
                <label>Alunos</label>
                    <p-dropdown [options]="aluno" [(ngModel)]="avaliacao.aluno" placeholder="Selecione o Aluno"
                     name="alunos" #alunos="ngModel" required></p-dropdown>
    
                    <app-message [control]="alunos" error="required"
                    text="Informe a Disciplina"></app-message>
                </div>
    
            <div class="ui-g-9">
                <button pButton type="submit" label="Salvar" [disabled]="formAvaliacao.invalid" (click)="adicionar()"></button>
            </div>

            <div class="ui-g-3">
                <a href="">Voltar para Home</a>
              </div>
            </div>
        
      </div>
  
    </form>
</div>