<div class="container">
    <form #formAvaliacao="ngForm" autocomplete="off">
  
      <div class="ui-g" style="border-style:groove; margin: 50px 200px;">
        <div class="ui-g-3"></div>

        <div class="ui-g-6">

            <div class="ui-g-12 ui-md-12">
                <h1 class="pi pi-save">Lançar notas</h1>
              </div>

            <div class="ui-g-12 ui-fluid">
            <label>Valor da Nota</label>
            <input pInputText type="number" name="nota"
                [(ngModel)]="avaliacao.nota" #nota="ngModel" required>
    
            <app-message [control]="nota" error="required"
                text="Informe a nota"></app-message>
    
            </div>
    
            <div class="ui-g-12 ui-fluid">
            <label>Data</label>
                <p-calendar [showIcon]="true" name="data" dateFormat="dd/mm/yy"
                [readonlyInput]="false" [(ngModel)]="avaliacao.data" #data="ngModel" required></p-calendar>
    
                <app-message [control]="data" error="required"
                text="Informe a data"></app-message>
            </div>
    
            <div class="ui-g-12 ui-fluid">
            <label>Disciplinas</label>
                <p-dropdown [options]="disciplina" [(ngModel)]="avaliacao.disciplina" placeholder="Selecione a Disciplina" 
                 name="disciplinas" #disciplinas="ngModel" required [disabled]="mostrarDisciplinas"></p-dropdown>

                <app-message [control]="disciplinas" error="required"
                text="Informe a Disciplina"></app-message>
            </div>

            <div class="ui-g-12 ui-fluid">
                <p-button icon="pi pi-search-plus" label="Carregar Alunos" (click)="mostrarDisciplinasAlterar()" (click)="carregarAluno(avaliacao.disciplina.id)" 
                [hidden]="exibindoAlunos"></p-button>
                <p-button icon="pi pi-times" label="Cancelar Pesquisa" (click)="mostrarDisciplinasAlterar()" (click)="alteraExibindoAlunos()" [hidden]="!exibindoAlunos" ></p-button>
            </div>

            <div class="ui-g-12 ui-fluid" [hidden]="!exibindoAlunos">
                <label>Alunos</label>
                    <p-dropdown [options]="alunos" [(ngModel)]="avaliacao.aluno" placeholder="Selecione o Aluno"
                     name="aluno" #aluno="ngModel" required></p-dropdown>
    
                    <app-message [control]="aluno" error="required"
                    text="Informe a Disciplina"></app-message>
                </div>
    
            <div class="ui-g-9">
                <button pButton type="submit" label="Salvar" [disabled]="formAvaliacao.invalid" (click)="adicionar()"></button>
            </div>

            <div class="ui-g-3">
                <a href=""> << Home</a>
              </div>
            </div>
        
      </div>
  
    </form>
</div>