<div class="container">
    <div class="box">
        <div class="ui-g">
            <div class="ui-g-2"></div>
            <div style="text-align: center; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" class="ui-g-8">
                <h1> Detalhes do Professor </h1>
            </div>
            <div class="ui-g-2"></div>
            <div class="ui-g-2"></div>
            <div style="border-style:groove;" class="ui-g-8">
                <div class="ui-g-12">
                    Nome: <input type="text" pInputText value="{{ professor.nome }}" disabled/>
                </div>

                <div class="ui-g-6">
                    Id: <input type="text" pInputText value="{{ professor.id }}" disabled/>
                </div>

                <div class="ui-g-6">
                    Matrícula: <input type="text" pInputText value="{{ professor.matricula }}" disabled/>
                </div>

                <div class="ui-g-12" [hidden]="!exibindoMaterias">
                    Matérias:
                    <ul>
                        <li *ngFor="let disciplinas of professor.disciplinas">
                            <input type="text" pInputText value="{{ disciplinas.nome }}" disabled/>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ui-g-10" style="text-align: end;">
                <a href="/professores">Voltar para Professores</a>
            </div>
        </div>
    </div>
</div>
