<div class="container">
    <form #formEditar="ngForm">
        <div class="ui-g">
            <div class="ui-g-2"></div>
            <div style="text-align: center; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" class="ui-g-8">
                <h1> Editar Avaliação </h1>
            </div>
            <div class="ui-g-2"></div>
            <div class="ui-g-2"></div>
            <div class="ui-g-8">
                <div class="ui-g-12">
                    Nome: <input type="text" pInputText value="{{ avaliacao.nome }}"
                     [(ngModel)]="avaliacao.nome" name="nome"/>
                </div>

                <div class="ui-g-6">
                    Data:  <p-calendar name="data" dateFormat="dd/mm/yy"
                     required [(ngModel)]="avaliacao.data"></p-calendar>
                </div>

                <div class="ui-g-6">
                    Matéria:
                    <p-dropdown [options]="disciplinas" required placeholder="Opções"
                    [(ngModel)]="avaliacao.disciplina" name="disciplinas" value="avaliacao.disciplina"></p-dropdown>
                </div>
            </div>

            <div class="ui-g-"></div>
            <div class="ui-g-2 ui-fluid">
               <button pButton type="submit"  label="Salvar" [disabled]="formEditar.invalid" 
               (click)="adicionar()"></button>
             </div>

            <div class="ui-g-10" style="text-align: end;">
                <a href="/avaliacoes">Voltar para Avaliacões</a>
            </div>
        </div>
    </form>
</div>
