<div class="container">
    <form #f="ngForm" autocomplete="off">
  
      <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
          <h1 class="pi pi-save">Cadastro de Professor</h1>
        </div>
  
        <div class="ui-g-12 ui-md-12 ui-fluid">
          <label>Nome</label>
          <input pInputText type="text" name="nome"
            [(ngModel)]="professor.nome" #nome="ngModel" required
            placeholder="Informe o nome" value="professor.nome">
  
          <app-message [control]="nome" error="required"
            text="Informe o nome"></app-message>
  
        </div>
  
        <div class="ui-md-6 ui-fluid">
          <label>Matrícula</label>
          <input pInputText type="text" name="matricula"
            ngModel #matricula="ngModel" required minlength="6" maxlength="6" 
             [(ngModel)]="professor.matricula" value="professor.matricula">
  
          <app-message [control]="matricula" error="required"
            text="Informe a matrícula"></app-message>
          <app-message [control]="matricula" error="minlength"
            text="Informe uma matrícula com {{ matricula.errors?.minlength?.requiredLength }} caracteres"></app-message>
  
        </div>
  
        <div class="ui-md-6 ui-fluid">
          <label> Data de Nascimento </label>
          <p-calendar  name="dataNascimento" dateFormat="dd/mm/yy"
            [readonlyInput]="false" [showIcon]="true"
            ngModel #dataNascimento="ngModel" required [(ngModel)]="professor.dataNascimento"></p-calendar>
  
          <app-message [control]="dataNascimento" error="required"
            text="Informe a Data de Nascimento"></app-message>
        </div>
  
        <div class="ui-md-12 ui-fluid">
          <label> Área </label>
          <textarea [(ngModel)]="professor.area" name="area"></textarea>
        </div>
  
        <div class="ui-g-10">
          <button pButton type="submit" label="Salvar" [disabled]="f.invalid" (click)="adicionar()"></button>
        </div>
  
        <div class="ui-g-2">
          <a href="/professores">Voltar para Professores</a>
        </div>
      </div>
  
    </form>
  </div>
  