<div class="container">
    <form #f="ngForm" autocomplete="off">
  
      <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
          <h1 class="pi pi-save">Cadastro de Disciplina</h1>
        </div>
  
        <div class="ui-g-12 ui-md-12 ui-fluid">
          <label>Nome</label>
          <input pInputText type="text" name="nome"
            [(ngModel)]="aluno.nome" #nome="ngModel" required minlength="5" placeholder="Informe o nome">
  
          <app-message [control]="nome" error="required"
            text="Informe o nome"></app-message>
          <app-message [control]="nome" error="minlength"
            text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres"></app-message>
  
        </div>
  
        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>CPF</label>
          <p-inputMask name="cpf" mask="999.999.999-99"
            ngModel #cpf="ngModel" required placeholder="000.000.000-00" [(ngModel)]="aluno.cpf"></p-inputMask>
  
          <app-message [control]="cpf" error="required"
            text="Informe o CPF"></app-message>
  
        </div>
  
        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label> Data de Nascimento </label>
          <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2020" name="dataNascimento" dateFormat="dd/mm/yy"
            [readonlyInput]="false" [showIcon]="true"
            ngModel #dataNascimento="ngModel" required [(ngModel)]="aluno.dataNascimento"></p-calendar>
  
          <app-message [control]="dataNascimento" error="required"
            text="Informe a Data de Nascimento"></app-message>
        </div>
  
        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label> Disciplinas </label>
        </div>
  
        <div class="ui-g-12 ui-md-12 ui-fluid">
          <label>Matrícula</label>
          <input pInputText type="text" name="matricula"
            ngModel #matricula="ngModel" required minlength="6" maxlength="6" 
            placeholder="Informe o nome" [(ngModel)]="aluno.matricula">
  
          <app-message [control]="matricula" error="required"
            text="Informe a matrícula"></app-message>
          <app-message [control]="matricula" error="minlength"
            text="Informe uma matrícula com {{ matricula.errors?.minlength?.requiredLength }} caracteres"></app-message>
  
        </div>
  
        <div class="ui-g-10">
          <button pButton type="submit" label="Salvar" [disabled]="f.invalid" (click)="adicionar()"></button>
        </div>
  
        <div class="ui-g-2">
          <a href="/alunos">Voltar para Alunos</a>
        </div>
      </div>
  
    </form>
  </div>
  