<p-table [columns]="cols" [value]="professores" [rows]="5" [paginator]="true"
[responsive]="true">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of cols">
                {{col.header}}
            </th>

            <th>
                Opções
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-professores>
        <tr>
            <td  *ngFor="let col of cols">
                    {{professores[col.field]}}
            </td >
            <td>
                <button pButton type="button" class="ui-button-raised ui-button-info" routerLink="cadastrar" (click)="addIdPesquisa(alunos.id)"> <i class="pi pi-pencil"></i> </button>
                <button pButton type="button" class="ui-button-raised ui-button-success" routerLink="detalhar" (click)="addIdPesquisa(professores.id)"> <i class="pi pi-eye"> </i></button>
                
                <button pButton type="button" class="ui-button-raised ui-button-danger" (click)="excluir(professores.matricula)"> 
                    <i class="pi pi-trash"> </i>
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>