<div class="container">
    <form #f="ngForm" autocomplete="off">
  
      <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
          <h1 class="pi pi-save">Cadastro de Disciplina</h1>
        </div>
  
        <div class="ui-g-12 ui-md-10 ui-fluid">
          <label>Nome da disciplina</label>
          <input pInputText type="text" name="nome"
            [(ngModel)]="disciplina.nome" #nome="ngModel" required minlength="4" maxlength="50">
  
          <app-message [control]="nome" error="required"
            text="Informe o nome"></app-message>
          <app-message [control]="nome" error="minlength"
            text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres"></app-message>
  
        </div>

        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label> Carga Horária: </label>
          <input pInputText type="text" name="cargaHoraria" #cargaHoraria="ngModel" type="number"
            [(ngModel)]="disciplina.cargaHoraria" #cargaHoraria="ngModel" required minlength="1" maxlength="2">
        
            <app-message [control]="cargaHoraria" error="required"
            text="Informe a carga horária"></app-message>
          </div>
  
        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label> Ativa </label>
          <p-dropdown [options]="colsAtiva" [(ngModel)]="disciplina.ativa" placeholder="Status da disciplina" 
          [showClear]="true" name="ativa" #ativa="ngModel" required></p-dropdown>

          <app-message [control]="ativa" error="required"
            text="Informe o status da disciplina"></app-message>
        </div>
  
        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label> Professor Responsável </label>
          <p-dropdown [options]="professores" [(ngModel)]="disciplina.professor.id" placeholder="Selecione o Professor"
          [showClear]="true" name="professor" #professor="ngModel" required>
        </p-dropdown>

          <app-message [control]="professor" error="required"
            text="Informe o professor responsável"></app-message>
            
        </div>

        <div class="ui-g-12 ui-md-12 ui-fluid">
            <label>Descrição</label>
           <textarea required [(ngModel)]="disciplina.descricao" 
           name="descricao" #descricao="ngModel" minlength="1" maxlength="200"></textarea>

           <app-message [control]="descricao" error="required"
            text="Informe uma descrição"></app-message>
          </div>
  
        <div class="ui-g-10">
          <button pButton type="submit" label="Salvar" [disabled]="f.invalid" (click)="adicionar()"></button>
        </div>
  
        <div class="ui-g-2">
          <a href="/disciplinas">Voltar para Disciplinas</a>
        </div>
      </div>
  
    </form>
  </div>
  