<div class="container">
  <form #formAluno="ngForm" autocomplete="off">

    <div class="ui-g">
      <div class="ui-g-12 ui-md-12">
        <h1 class="pi pi-save">Cadastro de Aluno</h1>
      </div>

      <div class="ui-g-12 ui-md-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome"
          [(ngModel)]="aluno.nome" #nome="ngModel" required minlength="4" maxlength="50" value="aluno.nome">

        <app-message [control]="nome" error="required"
          text="Informe o nome"></app-message>
        <app-message [control]="nome" error="minlength"
          text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres"></app-message>

      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>CPF</label>
        <input pInputText type="text" name="cpf"
        [(ngModel)]="aluno.cpf" #cpf="ngModel" required minlength="5" minlength="11" maxlength="11" placeholder="000.000.000-00">

        <app-message [control]="cpf" error="required"
          text="Informe o CPF"></app-message>
        <app-message [control]="cpf" error="minlength"
          text="Informe um CPF com {{ cpf.errors?.minlength?.requiredLength }} dígitos"></app-message>

      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Matrícula</label>
        <input pInputText type="text" name="matricula"
          ngModel #matricula="ngModel" required minlength="6" maxlength="6" 
           [(ngModel)]="aluno.matricula" value="aluno.matricula">

        <app-message [control]="matricula" error="required"
          text="Informe a matrícula"></app-message>
        <app-message [control]="matricula" error="minlength"
          text="Informe uma matrícula com {{ matricula.errors?.minlength?.requiredLength }} caracteres"></app-message>

      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label> Data de Nascimento </label>
           <input type="date" name="dateofbirth" id="dateofbirth" [(ngModel)]="aluno.dataNascimento"
          name="dataNascimento" #dataNascimento="ngModel" required>
         <app-message [control]="dataNascimento" error="required"
          text="Informe a Data de Nascimento"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label> Disciplinas </label>
        {{ aluno.disciplinas | json }}
        <p-multiSelect [options]="disciplinas" [(ngModel)]="aluno.disciplinas" name="disciplinas"
        [panelStyle]="{minWidth:'12em'}" ></p-multiSelect>
      </div>

      <div class="ui-g-10">
        <button pButton type="submit" label="Salvar" [disabled]="formAluno.invalid" (click)="adicionar()"></button>
      </div>

      <div class="ui-g-2">
        <a href="/alunos">Voltar para Alunos</a>
      </div>
    </div>

  </form>
</div>
