<div class="container-index">

    <div class="ui-g">
        <div class="ui-g-11">
            <a type="submit" routerLink="/home"> Home </a>
            <a type="submit" routerLink="/alunos"> Alunos </a>
            <a type="submit" routerLink="/disciplinas"> Disciplinas </a>
            <a type="submit" routerLink="#"> Professores </a>
        </div>    
        <div class="ui-g-1">
            <i class="pi pi-users" style="font-size: 2em"></i>
        </div>   
     </div>

</div>

<router-outlet></router-outlet>
