<div class="container-index">

    <div class="ui-g">
        <div class="ui-g-8">
            <a type="submit" routerLink=""> Home </a>
            <a type="submit" routerLink="/alunos"> Alunos </a>
            <a type="submit" routerLink="/disciplinas"> Disciplinas </a>
            <a type="submit" routerLink="/professores"> Professores </a>
            <a type="submit" routerLink="/avaliacoes"> Notas de Avaliações </a>
        </div>        
     </div>

</div>

<router-outlet></router-outlet>

<ng2-toasty [position]="'top-right'"></ng2-toasty>

<p-confirmDialog header='Confirmação' icon="pi pi-question-circle" #confirmacao>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" label="Sim"
        (click)="confirmacao.accept()"></button>
        <button type="button" pButton icon="pi pi-times" label="Não"
        (click)="confirmacao.reject()"></button>
    </p-footer>
</p-confirmDialog>