<div class="container">
    <form #f="ngForm" autocomplete="off">
  
      <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
          <h1 class="pi pi-save">Cadastro de Disciplina</h1>
        </div>
  
        <div class="ui-g-12 ui-md-12 ui-fluid">
          <label>Nome</label>
          <input pInputText type="text" name="nome"
            [(ngModel)]="disciplina.nome" #nome="ngModel" required minlength="5" placeholder="Informe o nome">
  
          <app-message [control]="nome" error="required"
            text="Informe o nome"></app-message>
          <app-message [control]="nome" error="minlength"
            text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres"></app-message>
  
        </div>
  
        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Ativa - </label>
            <p-toggleButton [style]="{'width':'50px'}"></p-toggleButton>
        </div>
  
        <div class="ui-g-12 ui-md-4 ui-fluid">
            <label> Carga Horária </label>
        </div>
  
        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label> Professor Responsável </label>
        </div>

        <div class="ui-g-12 ui-md-4 ui-fluid">
            <label>Descrição</label>
           <textarea [style]="{'size':'1000px'}" required></textarea>
          </div>
  
        <div class="ui-g-10">
          <button pButton type="submit" label="Salvar" [disabled]="f.invalid" (click)="adicionar()"></button>
        </div>
  
        <div class="ui-g-2">
          <a href="/disciplinas">Voltar para Disciplinas</a>
        </div>
      </div>
  
    </form>
  </div>
  