<div class="container">
    <form #f="ngForm" autocomplete="off">
  
      <div class="ui-g">
            <div class="ui-g-12 ui-md-12">
                <h1><i class="pi pi-pencil"> Professores </i></h1>
            </div>

            <div class="ui-g-12">
                <button pButton type="#" label="Novo Cadastro" routerLink="cadastrar"></button>
            </div>
        </div>
    </form>   
    
    <app-professores-listagem></app-professores-listagem>
    <router-outlet></router-outlet>
    
</div>