p{
    font-size: 20px;
    font-style: italic;
    text-align: justify;
}

h1{
    font-size: 50px;
    font-style: oblique;
}

img{
    size: 100px;
}

.class-button button{
    width: 180px; 
    height: 60px;
}
