<div class="container-home">
    <div class="ui-g">
        <div class="ui-g-7">
            <h1> Acadêmico sMais+ </h1>
            <p> O Sistema acadêmico sMais+ é um sistema básico, que fornece suporte <br> para cadastro de alunos,
                professores e disciplinas, como também funções <br> de edição, exclusão, listagem entre outras.</p>
                <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 

            <div class="class-button">
                <div class="ui-g">
                    <div class="ui-g-3">
                        <a href="https://www.instagram.com/maxbarboz" target="_blank">
                            <button pButton style="background-color: blueviolet;" type="button" label="Instagram"></button> 
                        </a>
                    </div>
                    <div class="ui-g-3">
                        <a href="https://github.com/maxbarboz" target="_blank">
                            <button pButton style="background-color: black; " type="button" label="GitHub"></button> 
                        </a>        
                    </div>
                    <div class="ui-g-3">
                        <a href="https://www.linkedin.com/in/maxsuel-barboza-659335189/" target="_blank">
                            <button pButton type="button" label="LinkedIn"></button>
                        </a> 
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-g-4">
            <img src="../../assets/icone.png" style="text-align: left;"/>
        </div>
    </div>
</div>