<div class="container-home">
    <div class="ui-g">
        <div class="ui-g-8">
            <h1> Acadêmico sMais+ </h1>
            <p> O Sistema acadêmico sMais+ é um sistema básico, que fornece suporte <br> para cadastro de alunos,
                professores e disciplinas, como também funções <br> de edição, exclusão, listagem entre outras.</p>
                <br> <br> <br> <br> <br> <br>
            <a href="https://github.com/maxbarboz" target="_blank"> GitHub -> maxbarboz ¯\_(ツ)_/¯ </a>
        </div>

        <div class="ui-g-4">
            <img src="../../assets/icone.png" style="text-align: left;"/>
        </div>
    </div>
</div>